body {
  font-size: 16px;
  color: #fff;
  background-color: #BA55D3;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #E6E6FA;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: auto;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #BA55D3;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: auto;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;


a span {
  font-size: 1.8em;
  font-family: 'Lora', serif;
  color: #BA55D3;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-align: center;
}